{% extends 'base.html' %}
{% load ratings %}
{% load bootstrap4%}
{% load static %}

{% block content %}


<div class="container" style="padding-top: 70px;">
  <div class="row mt-4"></div>
  <!-- Grid row -->
  <div class="row">
    <div class="col-md-2"></div>
    <!-- Grid column -->
    <div class="col-md-8">

      <!-- Card -->
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          {% if project.project_image %}
          <img class="card-img-top" src="{{project.project_image.url}}" alt="{{ project.project_name }}"
            style="max-height: 450px;" height="400" width="700">
          {% else %}
          <img class="card-img-top" src="https://source.unsplash.com/1600x900/?fun,vacation"
            alt="{{ project.project_name }}">
          {% endif %}
          <a href="#!">
            <div class="mask rgba-white-slight">
              <div class="d-flex justify-content-end">
                <a href="{{project.link}}" target="_blank" title="Visit site"> <button type="button"
                    class="btn btn-light px-3"><i class="fas fa-directions" aria-hidden="true"></i></button>
                </a></div>
            </div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <h2 class="font-weight-bold"><a>{{ project.project_title }}</a></h2>
          <!-- Data -->
          <h4 class="">{{ project.project_description }}</h4>

          <!-- Social shares -->
          <div>
            <a href="{{project.link}}" target="_blank" title="Visit site">
              <button type="button" class="btn btn-primary font-weight-bold px-3">Visit site</button></a>
          </div>
          <div class="row">
            <div class="col-lg-6 dark-text">
              <img src="{{ project_item.Author.photo.url }}" alt="" class="rounded-circle img-fluid mr-1"
                style="width: 40px;">
              Posted By:{{project_item.author|upper}}<small>, <span class="mr-1"> From {{project.country.name}}</span>

                <div class="col-lg-6 dark-text"> <small> Date Posted: {{project.pub_date|date:"m /d/Y"}} </small> </div>
            </div>
          </div>
          <div class="mt-2 pt-2">
            <div class="row">
              <div class="col-md-4">
                <h4>Design Rating</h4>
                {% ratings project %}
              </div>
              <div class="col-md-4">
                <h4>Usability Rating</h4>
                {% ratings project %}
              </div>
              <div class="col-md-4">
                <h4>Content Rating</h4>
                {% ratings project %}
              </div>
            </div>
          </div>
          <!-- Card content -->
        </div>

      </div>
      <!-- Grid column -->
      <div class="col-md-2"></div>

    </div>
    <!-- Grid row -->
  </div>

  {% endblock %}

  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>