{% load bootstrap4 %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>New Post</title>
    {{form.media}}

    {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}

</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-8">


<br><br>

                <div class="view overlay zoom image2" style="padding-left: 50%; padding-top: 10%;">
                                {% if profile%}
                                <br><br>
                                
                                    <img class="card-img-top" src="{{profile.photo.url}}"
                                        alt="{{ profile.user }}" height="300px" width="320">
                                                                
                                {% endif %}
                            </div>


                {% for project_item in projects %}

                <div class="col-md-6">
                    <div class="card-deck">
                        <div class="card mb-2 mt-2 ">
                            <!-- Card image -->
                            <div class="view overlay zoom image2">
                                {% if project_item.project_image %}
                                <a href="/project/{{project_item.id}}">
                                    <img class="card-img-top" src="{{project_item.project_image.url}}"
                                        alt="{{ project_item.project_name }}" height="300px" width="320">
                                </a>
                                {% else %}
                                <a href="/project/{{project_item.id}}">
                                    <img class="card-img-top" src="https://source.unsplash.com/1600x900/?fun,vacation"
                                        alt="{{ project_item.project_name }}">
                                </a>
                                {% endif %}
                            </div>
        
                            <div class="card-body pr-2 pl-2 pr-2 mr-2">
                                <h5 class="card-title ml-4">{{ project_item.project_title }}</h5>
                                <div class="row ml-2">
                                    <div class="col-lg-6 dark-text">
                                        <small class="text-muted ml-2"><img src="{{ project_item.Author.profile.photo.url }}"
                                                alt="" class="rounded-circle img-fluid mr-1" style="width: 30px;">
                                            posted By: {{project_item.author|upper}} </small>
                                        <small> <span class="mr-1"> From {{project_item.country.name}}</span>
                                        </small> </div>
                                    <div class="col-lg-6 dark-text d-flex justify-content-end"> <small>
                                            {{project_item.pub_date|date:"d /m/Y"}} </small></div>
        
                                </div>
                            </div>
                        </div>
        
                    </div>
                    <!-- end of card deck  -->
                </div>
                {% endfor %}

            </div>

            <div class="col-md-4">
                <h1>UPDATE PROFILE</h1>
                <div class="">
                    {%if user%}

                <P>{{user.user}}</p>
                    <img src="{{user.photo.url}}" class="card-img-top" alt="{{user.user}}">
                    <hr>

                     {%endif%}
        
                </div>
                <form action="{%url 'profile'%}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}

                    {% bootstrap_form form%}
                    <input type="submit" class="btn btn-success btn-lg" value="Post">
                </form>
            </div>
        </div>
    </div>



    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}

</body>

</html>
