{%extends "django_registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
     <h3>You have successfully Registered</h3>
     <p>You can now post photos, comment on them and like then</p>
     <p>Click <a class="navbar-brand" href="{% url 'index' %}">Here </a> to get started</p>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}